In [2]:
!pip3 install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 36 kB/s  eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [3]:
import pymysql.cursors
import pandas as pd
import datetime
import uuid
import numpy as np
from itertools import combinations

In [5]:

# Connect to the database
db_connection = pymysql.connect(host='143.198.177.53',
                             user='testUser',
                             password='testUser123@!@!',
                             db='employees',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

### Selecting results into a Pandas dataframe

In [6]:
qry = "SELECT * FROM employees;"
books_df = pd.read_sql(qry, con=db_connection)
books_df.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

### Selecting results using a pymysql cursor

In [12]:
con = pymysql.connect(host='143.198.177.53',
                             user='testUser',
                             password='testUser123@!@!',
                             db='employees',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
try:

    with con.cursor() as cur:

        cur.execute('SELECT * FROM employees LIMIT 20;')

        rows = cur.fetchall()

        for row in rows:
            print(row['emp_no'], row['first_name'], row['last_name'])

finally:

    con.close()

10001 Georgi Facello
10002 Bezalel Simmel
10003 Parto Bamford
10004 Chirstian Koblick
10005 Kyoichi Maliniak
10006 Anneke Preusig
10007 Tzvetan Zielinski
10008 Saniya Kalloufi
10009 Sumant Peac
10010 Duangkaew Piveteau
10011 Mary Sluis
10012 Patricio Bridgland
10013 Eberhardt Terkki
10014 Berni Genin
10015 Guoxiang Nooteboom
10016 Kazuhito Cappelletti
10017 Cristinel Bouloucos
10018 Kazuhide Peha
10019 Lillian Haddadi
10020 Mayuko Warwick

### Escaping parameters

In [16]:
con = pymysql.connect(host='143.198.177.53',
                             user='testUser',
                             password='testUser123@!@!',
                             db='employees',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)


emp_no = 10005

try: 

    with con.cursor() as cur:
        cur.execute('SELECT * FROM employees WHERE emp_no=%s', emp_no) 
        
        rows = cur.fetchall()

        for row in rows:
            print(row['first_name'], row['last_name'])
finally:

    con.close()

Kyoichi Maliniak

### Insert a row with PyMySQL

In [26]:
con = pymysql.connect(host='143.198.177.53',
                             user='testUser',
                             password='testUser123@!@!',
                             db='employees',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)



try: 

    with con.cursor() as cur:
        qry = 'INSERT INTO books (book_id, first_name, last_name, number_of_books, dob)'
        qry = qry + 'VALUES(%s, %s, %s, %s, %s)'

        cur.execute(qry, (3, 'Stephen', 'King', 400, '1947-09-21')) 
        con.commit()

finally:

    con.close()

### Update a MySQL table with PyMySQL

In [27]:
con = pymysql.connect(host='143.198.177.53',
                             user='testUser',
                             password='testUser123@!@!',
                             db='employees',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)



try: 

    with con.cursor() as cur:
        qry = 'UPDATE books SET first_name = %s WHERE book_id = %s'

        cur.execute(qry, ('Bob', 3)) 
        con.commit()

finally:

    con.close()

### Delete from a MySQL table with PyMySQL

In [28]:
con = pymysql.connect(host='143.198.177.53',
                             user='testUser',
                             password='testUser123@!@!',
                             db='employees',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)



try: 

    with con.cursor() as cur:
        qry = 'DELETE FROM books WHERE book_id = %s'

        cur.execute(qry, (3)) 
        con.commit()

finally:

    con.close()